pymilvus 
openai 
datasets 
opencv-python 
timm 
einops 
ftfy 
peft 
tqdm
FlagEmbedding
tiktoken
dashscope
minio
cachetools
playhouse
peewee
pymysql
werkzeug
flask
flask_cors
flask_session
flask_login
flasgger
uvicorn
gradio